/* tailwindcss utility classes */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply py-2 px-4 font-semibold;
}

.btn-green{
    @apply rounded-lg shadow-md text-white bg-green-500 hover:bg-green-700;
}